{% extends 'partials/base.html' %} 
{% load static %} 

{% block content %}

    <div class="auth-header">

        <img class="img-fluid img" src="{% static 'assets/images/authentication/1.svg' %}" alt="v1" />

        <div class="auth-content">
            <div>
                <h2> Ah! </h2>
                <h4 class="p-0"> Let's help You </h4>
            </div>
        </div>
    </div>
    <!-- header end -->

    <form class="auth-form" method="POST">
        {% csrf_token %}

        <div class="custom-container">

            <div class="form-group">
                <label for="inputusername" class="form-label">Enter your login Email</label>
                <div class="form-input">
                    <input type="email" class="form-control" name="email" id="inputusername" placeholder="Enter Your Email" />
                </div>
            </div>

            <button type="submit" class="btn theme-btn w-100"> Reset Now </button>
            <h4 class="signup">Don’t have an account ?<a href="{% url 'userauths:login' %}"> Login </a></h4>

        </div>
    </form>

{% endblock content %}
