{% extends 'partials/base.html' %} 
{% load static %} 

{% block content %}

    <div class="auth-header">

        <img class="img-fluid img" src="{% static 'assets/images/authentication/1.svg' %}" alt="v1" />

        <div class="auth-content">
            <div>
                <h2>Welcome back !!</h2>
                <h4 class="p-0">Fill up the form</h4>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- login section start -->
    <form class="auth-form" method="POST">
        {% csrf_token %}

        <div class="custom-container">
            <div class="form-group">
                <label for="inputusername" class="form-label">Enter Login Email</label>
                <div class="form-input">
                    <input type="email" class="form-control" name="email" id="inputusername" placeholder="Enter Your Email" />
                </div>
            </div>

            <div class="form-group">
                <label for="inputpin" class="form-label">Enter Password</label>
                <div class="form-input">
                    <input type="password" class="form-control" name="password" id="inputpin" placeholder="Enter Your Password" />
                </div>
            </div>

            <div class="remember-option mt-3">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked readonly />
                    <label class="form-check-label" for="flexCheckDefault" >Remember me</label>
                </div>
                <a class="forgot" href="{% url 'userauths:forget_password' %}">Forgot Password?</a>
            </div>

            <button type="submit" class="btn theme-btn w-100">Sign In</button>
            <h4 class="signup">Don’t have an account ?<a href="{% url 'userauths:register' %}"> Sign up</a></h4>

        </div>
    </form>
    <!-- login section start -->

{% endblock content %}
