{% extends 'partials/base.html' %}
{% load static %}


{% block content %}
    
    <!-- header starts -->
    <div class="auth-header">
        <a href="signin.html"> <i class="back-btn" data-feather="arrow-left"></i> </a>

        <img class="img-fluid img" src="{% static 'assets/images/authentication/6.svg' %}" alt="v1" />

        <div class="auth-content">
            <div>
                <h2>Welcome !!</h2>
                <h4 class="p-0">Reset Your Password</h4>
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- login section start -->
    <form class="auth-form" method="POST">
        {% csrf_token %}

        <div class="custom-container">

            <div class="form-group">
                <label for="newpin" class="form-label">Enter Password</label>
                <div class="form-input">
                    <input type="password" name="password" class="form-control" id="newpin" placeholder="Enter pin" />
                </div>
            </div>

            <div class="form-group">
                <label for="confirmpin" class="form-label">Confirm Password</label>
                <div class="form-input">
                    <input type="password" name="confirm_password" class="form-control" id="confirmpin" placeholder="Re-enter pin" />
                </div>
            </div>

            <button type="submit" class="btn theme-btn w-100">Submit</button>
        </div>
    </form>
    <!-- login section start -->
    
{% endblock content %}
