{% load static %}

    <div class="modal pay-modal fade" id="paid" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">Mobile Bill Detail</h2>
                </div>
                <div class="modal-body">
                    <ul class="details-list">
                        <li>
                            <h3 class="fw-normal dark-text">Amount</h3>
                            <h3 class="fw-semibold theme-color">$69.49</h3>
                        </li>
                        <li>
                            <h3 class="fw-normal dark-text">Bill date</h3>
                            <h3 class="fw-normal light-text">10 May, 2023</h3>
                        </li>
                        <li>
                            <h3 class="fw-normal dark-text">Due Date</h3>
                            <h3 class="fw-normal light-text">22 May, 2023</h3>
                        </li>
                        <li>
                            <h3 class="fw-normal dark-text">Bill number</h3>
                            <h3 class="fw-normal light-text">BM452695523</h3>
                        </li>
                        <li>
                            <h3 class="fw-normal dark-text">Mobile number</h3>
                            <h3 class="fw-normal light-text">+91 ***** **256</h3>
                        </li>
                        <li>
                            <h3 class="fw-normal dark-text">Bill status</h3>
                            <h3 class="fw-semibold theme-color">Paid</h3>
                        </li>
                    </ul>
                    <a href="landing.html" class="btn theme-btn successfully w-100">Paid - Thank you !</a>
                </div>
                <button type="button" class="btn close-btn" data-bs-dismiss="modal">
                    <i class="icon" data-feather="x"></i>
                </button>
            </div>
        </div>
    </div>
