{% load static %}
{% load humanize %}

    <section class="section-b-space">
        <div class="custom-container">
            <div class="card-box">
                <div class="card-details">
                    <div class="d-flex justify-content-between">
                        <h5 class="fw-semibold">Total Balance</h5>
                        <img src="{% static 'assets/images/svg/ellipse.svg' %}" alt="ellipse" />
                    </div>

                    <div class="d-flex">
                        <h1 class="mt-2 text-white">
                            <span id="balance-text">${{account.account_balance|intcomma}}</span>
                            <img id="toggle-balance" 
                                src="{% static 'assets/images/eye.png' %}" 
                                style="width: 20px; margin-left: 2px; cursor: pointer; margin-top: -5px;" />
                        </h1>
                    </div>

                    <div class="amount-details">
                        <div class="amount w-50 text-start">
                            <div class="d-flex align-items-center justify-content-start">
                                <!-- <img class="img-fluid icon" src="{% static 'assets/images/svg/arrow-down-right.svg' %}" alt="down" /> -->
                                <h5>Hi</h5>
                            </div>
                            <h3 class="text-white" style="font-size: 12px;">{{user.kyc.full_name|title|default:'Complete KYC'}}</h3>
                        </div>
                        <div class="amount w-50 text-end border-0">
                            <div class="d-flex align-items-center justify-content-end">
                                <img class="img-fluid icon" src="{% static 'assets/images/svg/arrow-down-right.svg' %}" alt="up" />
                                <h5>Last Received</h5>
                            </div>
                            
                            {% if recent_recieved_transfer %}
                                {% for recent_recieved_transfer in recent_recieved_transfer %}

                                    <h3 class="text-white">$ {{recent_recieved_transfer.amount|intcomma}}</h3>
                                    
                                {% endfor %}
                            {% else %}
                                <h3 class="text-white">$0.00</h3>
                            {% endif %}
                                
                            
                                
                        </div>
                    </div>
                </div>
                <a href="{% url 'core:request-search-account' %}" class="add-money theme-color">+ Add Money </a>
            </div>
        </div>
    </section>

    
    <!-- categories section starts -->
    <section class="categories-section section-b-space">
        <div class="custom-container">
            <ul class="categories-list">
                <li>
                    <a href="{% url 'core:search-account' %}">
                        <div class="categories-box">
                            <i class="categories-icon" data-feather="repeat"></i>
                        </div>
                        <h5 class="mt-2 text-center">Transfer</h5>
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:transactions' %}">
                        <div class="categories-box">
                            <i class="categories-icon" data-feather="file-text"></i>
                        </div>
                        <h5 class="mt-2 text-center">History</h5>
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:request-search-account' %}">
                        <div class="categories-box">
                            <i class="categories-icon icon1" data-feather="log-in"></i>
                        </div>
                        <h5 class="mt-2 text-center">Request</h5>
                    </a>
                </li>
                <li>
                    <a href="{% url 'core:goal' %}">
                        <div class="categories-box">
                            <i class="fa fa-bank" style="font-size:23px;color:rgb(115, 0, 255)"></i>
                        </div>
                        <h5 class="mt-2 text-center">Goals</h5>
                    </a>
                </li>
            </ul>
        </div>
    </section>
    <!-- categories section end -->

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            const balanceText = document.getElementById("balance-text");
            const toggleBtn = document.getElementById("toggle-balance");

            let realBalance = balanceText.textContent;
            let hidden = false;

            toggleBtn.addEventListener("click", () => {
                if (!hidden) {
                    balanceText.textContent = "******";
                    toggleBtn.src = "{% static 'assets/images/eye-off.webp' %}";
                } else {
                    balanceText.textContent = realBalance;
                    toggleBtn.src = "{% static 'assets/images/eye.png' %}";
                }
                hidden = !hidden;
            });

        });
    </script>
