{% extends 'partials/base.html' %} 
{% load static %} 

{% block content %}

    <!-- all cards section starts -->
    <section>
        <div class="custom-container">
            <div class="title">
                <h2>All Cards</h2>
                <a href="cards.html">See all</a>
            </div>

            <div class="swiper card-slider">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="credit-card-box color1">
                            <div class="card-logo">
                                <img class="img-fluid" src="{% static 'assets/images/svg/logo1.svg' %}" alt="logo1" />
                                <img class="img-fluid" src="{% static 'assets/images/svg/card-chip.svg' %}" alt="card-chip" />
                            </div>
                            <h6 class="card-number">**** **** **** 2563</h6>
                            <h5 class="card-name">Survana Williams</h5>
                            <h2 class="card-amount">$25,000.89</h2>
                            <div class="d-block">
                                <div class="card-date w-100">
                                    <h6>Exp. date</h6>
                                    <h6>Cvv</h6>
                                </div>
                                <div class="card-numbers w-100">
                                    <h6 class="text-white fw-semibold mt-1">12 /24</h6>
                                    <h6 class="text-white fw-semibold mt-1">***</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="credit-card-box color2">
                            <div class="card-logo">
                                <img class="img-fluid" src="{% static 'assets/images/svg/logo1.svg' %}" alt="logo1" />
                                <img class="img-fluid" src="{% static 'assets/images/svg/card-chip.svg' %}" alt="card-chip" />
                            </div>
                            <h6 class="card-number">**** **** **** 2563</h6>
                            <h5 class="card-name">Survana Williams</h5>
                            <h2 class="card-amount">$25,000.89</h2>
                            <div class="d-block">
                                <div class="card-date w-100">
                                    <h6>Exp. date</h6>
                                    <h6>Cvv</h6>
                                </div>
                                <div class="card-numbers w-100">
                                    <h6 class="text-white fw-semibold mt-1">12 /24</h6>
                                    <h6 class="text-white fw-semibold mt-1">***</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="credit-card-box color3">
                            <div class="card-logo">
                                <img class="img-fluid" src="{% static 'assets/images/svg/logo1.svg' %}" alt="logo1" />
                                <img class="img-fluid" src="{% static 'assets/images/svg/card-chip.svg' %}" alt="card-chip" />
                            </div>
                            <h6 class="card-number">**** **** **** 2563</h6>
                            <h5 class="card-name">Survana Williams</h5>
                            <h2 class="card-amount">$25,000.89</h2>
                            <div class="d-block">
                                <div class="card-date w-100">
                                    <h6>Exp. date</h6>
                                    <h6>Cvv</h6>
                                </div>
                                <div class="card-numbers w-100">
                                    <h6 class="text-white fw-semibold mt-1">12 /24</h6>
                                    <h6 class="text-white fw-semibold mt-1">***</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- all cards section end -->

{% endblock content %}
