{% load static %}
    <section>
        <div class="custom-container">
            <div class="statistics-banner">
                <div class="d-flex justify-content-center gap-3">
                    <div class="statistics-image">
                        <i class="icon" data-feather="bar-chart-2"></i>
                    </div>
                    <div class="statistics-content d-block">
                        <h5>Monthly Statistics</h5>
                        <h6>30% better performance than previous</h6>
                    </div>
                </div>
            </div>
        </div>
    </section>