{% load static %}

    <section class="section-b-space">
        <div class="custom-container">

            <div class="title">
                <h2>News Update</h2>
                <a href="news-update.html">See all</a>
            </div>

            <!-- news-update section starts -->
            <section class="section-b-space">
                <div class="custom-container">
                    <div class="title">
                        <h2>News Update</h2>
                        <a href="news-update.html">See all</a>
                    </div>
                    <div class="row gy-3">
                        <div class="col-12">
                            <div class="news-update-box">
                                <div class="d-flex align-items-center gap-3">
                                    <a href="news-update-details.html">
                                        <img class="img-fluid news-update-image" src="{% static 'assets/images/1.jpg' %}" alt="img1" />
                                    </a>
                                    <div class="news-update-content">
                                        <a href="news-update-details.html">
                                            <h3>Save and invest to obtain more</h3>
                                        </a>
                                        <div class="news-writer">
                                            <h6>13 May, 23</h6>
                                            <h6>-Smith</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="news-update-box">
                                <div class="d-flex align-items-center gap-3">
                                    <a href="news-update-details.html">
                                        <img class="img-fluid news-update-image" src="{% static 'assets/images/2.jpg' %}" alt="img2" />
                                    </a>
                                    <div class="news-update-content">
                                        <a href="news-update-details.html">
                                            <h3>How to get more money from savings</h3>
                                        </a>
                                        <div class="news-writer">
                                            <h6>10 May, 23</h6>
                                            <h6>-Laila</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="news-update-box">
                                <div class="d-flex align-items-center gap-3">
                                    <a href="news-update-details.html">
                                        <img class="img-fluid news-update-image" src="{% static 'assets/images/3.jpg' %}" alt="img3" />
                                    </a>
                                    <div class="news-update-content">
                                        <a href="news-update-details.html">
                                            <h3>5 Tips on expand your business</h3>
                                        </a>
                                        <div class="news-writer">
                                            <h6>6 May, 23</h6>
                                            <h6>-Brunt</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- news-update section end -->


        </div>
    </section>