{% load static %}

    <section>
        <div class="custom-container">
            
            {% if goal %}
                
                <div class="title">
                    <h2>My Goal Plans</h2>
                    <a href="{% url 'core:goal' %}">See all</a>
                </div>

                <div class="row">
                    
                    {% for g in goal %}

                        <a href="{% url 'core:goal-detail' g.gid %}" class="col-6">
                            <div class="saving-plan-box mb-4">
                                <div class="saving-plan-icon">
                                    <img class="img-fluid" src="{{g.image.url}}" alt="p10" />
                                </div>
                                <h3>{{g.goal_type }}</h3>
                                <h6>Current Saved</h6>
                                <h5 class="theme-color">${{g.current_amount }}</h5>
                                
                                <hr>
                                
                                <div class="d-flex justify-content-between align-items-center mt-2">
                                    <h5 class="theme-color">Target ${{g.target_amount }}</h5>
                                </div>
                                <h6>Dead Line: &nbsp;{{g.deadline }}</h6>
                            </div>
                        </a>
                    {% endfor %}

                </div>  
            {% else %}
                <!-- saving plans section starts -->
                <div class="title">
                    <h2>Start Saving Plans Now</h2>
                    <a href="{% url 'core:goal' %}">See all</a>
                </div>

                <div class="row">
                    <div class=" ">
                        <a href="{% url 'core:goal' %}" class="row">
                            <div class="col-6">
                                <div class="saving-plan-box">
                                    <div class="saving-plan-icon">
                                        <img class="img-fluid" src="{% static 'assets/images/svg/10.svg' %}" alt="p10" />
                                    </div>
                                    <h3>New Car</h3>
                                    <h6>Amount left</h6>
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="progressbar"
                                        aria-valuenow="0"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div class="progress-bar bar1"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-2">
                                        <h5 class="theme-color">$2,000.00</h5>
                                        <img class="img-fluid arrow" src="{% static 'assets/images/svg/arrow.svg' %}" alt="arrow" />
                                    </div>
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="saving-plan-box">
                                    <div class="saving-plan-icon">
                                        <img class="img-fluid" src="{% static 'assets/images/svg/11.svg' %}" alt="p11" />
                                    </div>
                                    <h3>Grand Home</h3>
                                    <h6>Amount left</h6>
                                    <div
                                        class="progress"
                                        role="progressbar"
                                        aria-label="progressbar"
                                        aria-valuenow="0"
                                        aria-valuemin="0"
                                        aria-valuemax="100"
                                    >
                                        <div class="progress-bar bar2"></div>
                                    </div>
                                    <div class="d-flex justify-content-between align-items-center mt-2">
                                        <h5 class="theme-color">$2,000.00</h5>
                                        <img class="img-fluid arrow" src="{% static 'assets/images/svg/arrow.svg' %}" alt="arrow" />
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <!-- saving plans section end -->

            {% endif %}

            
        </div>
    </section>

    
    <!-- banner section starts -->
    <section>
        <div class="custom-container">
            <div class="swiper banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="img-fluid banner-img" src="{% static 'assets/images/banner/banner1.png' %}" alt="banner1" />
                        </a>
                    </div>

                    <div class="swiper-slide">
                        <a href="javascript:void(0)">
                            <img class="img-fluid banner-img" src="{% static 'assets/images/banner/banner2.png' %}" alt="banner2" />
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner section end -->


