{% load static %}


<!-- feather js -->
<script src="{% static 'assets/js/feather.min.js' %}"></script>
<script src="{% static 'assets/js/custom-feather.js' %}"></script>

<!-- bootstrap js -->
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>

<!-- script js -->
<script src="{% static 'assets/js/script.js' %}"></script>

<!-- swiper js -->
<script src="{% static 'assets/js/swiper-bundle.min.js' %}"></script>
<script src="{% static 'assets/js/custom-swiper.js' %}"></script>

<!-- aos js -->
<script src="{% static 'assets/js/aos.js' %}"></script>
<script src="{% static 'assets/js/init-aos.js' %}"></script>

<!-- onload rocket -->
<script src="{% static 'assets/js/onload.js' %}"></script>

  <!-- loader js -->
<script src="{% static 'assets/js/loader.js' %}"></script>

